body {
    background-color: black;
}

h1 {
  font-style: bold;
  color: purple;  
}

.container {
    padding: 15px;
}

.part1 {
    color: green;
    text-align: center;
    vertical-align: middle;
    padding: 15px;
}

.part2 {
    color: green;
    font-style: italic;
    text-align: center;
    vertical-align: middle;
    padding: 15px;
}